<% v = Value.where(node_id: n.id, user_id: params[:id]).first_or_create %>

<div class="row form-group">
  <div class="col-md-3  text-right">
    <label class="control-label"><%= n.name %></label>    
  </div>
  <div class="col-md-8">
    <input class="form-control" type="number"
        value="<%= v.value %>"
        data-score-item data-value-id=<%= v.id %> >
  </div>
</div>