    <div class="list-group">
      <a href="/courses/1" class="list-group-item active">
        1. Grade Configuration
      </a>
      <a href="#" class="list-group-item">
        2. Grade Students
      </a>
      <a href="#" class="list-group-item">
        3. Final Report
      </a>
    </div>