<div class="row">
  <h1 class="text-center">Grading Sheet</h1>
</div>
<hr class="style-eight">

<div class="row">
  <div class="col-md-3">

    <div class="list-group">
      <a href="/courses/1/grade_configuration" class="list-group-item">
        1. Grade Configuration
      </a>
      <a href="/courses/1/grade_students" class="list-group-item">
        2. Grade Students
      </a>
      <a href="/courses/1/final_report" class="list-group-item">
        3. Final Report
      </a>
    </div>
  </div>
  <div class="col-md-9"></div>
</div>

