<div class="row">
  <h1 class="text-center">Grading Sheet</h1>
</div>
<hr class="style-eight">

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'nav.html.erb' %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <%= link_to 'New Item', new_course_node_path(@course), class: 'btn btn-primary' %>
    </div>
    <hr>
    <div class="row">
      <% if @sheet_info %>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Nane</th>
            <th>Weight</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @sheet_info.each_with_index do |sheet, index| %>
            <%= render partial: 'list.html.erb', locals: {sheet: sheet, index: index, sub: false} %>
            <% if c = sheet.children %>
              <% c.each do |s| %>
                <%= render partial: 'list.html.erb', locals: {sheet: s, index: '', sub: true} %>
              <% end %>
            <% end %>
          <% end %>
      <% end %>
    </div>

  </div>
</div>

