<!DOCTYPE html>
<html>
<head>
  <title>Grade of <%= @course.name %></title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<div id="content">
  <div class="container gray-bg has-box-shadow">
    <%= yield %>
  </div>
</div>

</body>
</html>
